<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/angularjs/1.4.6/angular.min.js"></script>
		<style type="text/css">
			table,th,td{
				border:1px solid grey;
				border-collapse: collapse;
				padding:5px;
			}
			/*table tr:nth-child(odd){
				background-color:#f1f1f1;
			}
			table tr:nth-child{
				background-color: #ffffff;
			}*/
		</style>
	</head>

	<body>
		<!-- ng-repeat指令可以完美的显示表格 -->
		<div>
			<div data-ng-app="myApp" data-ng-controller="customersCtrl">
				<table>
					<tr data-ng-repeat="x in names | orderBy:'Country'">
						<td data-ng-if="$odd" style="background-color: #f1f1f1;">{{x.Name}}</td>
						<td data-ng-if="$even">{{x.Name}}</td>
						<td data-ng-if="$odd" style="background-color: #f1f1f1;">{{x.Country}}</td>
						<td data-ng-if="$even">{{x.Country | uppercase}}</td>
					</tr>
				</table>
			</div>
			<script>
				var app = angular.module("myApp", []);
				app.controller("customersCtrl", function($scope, $http) {
					$http.get("./json/Customers_JSON.json").
					success(function(response) {
						$scope.names = response.records;
					}); 
				});
			</script>
		</div>
	</body>

</html>